html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "MyriadProRegular";
  src: url("./fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("./fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("./fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("./fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MyriadProBold";
  src: url("./fonts/MyriadProBold/MyriadProBold.eot");
  src: url("./fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("./fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("./fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MyriadProSemiBold";
  src: url("./fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("./fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix") format("embedded-opentype"), url("./fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"), url("./fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
html {
  overflow-y: scroll;
}
body {
  margin-top: 35px;
  font-family: MyriadProRegular;
  font-size: 25pt;
  height: 100%;
}
.body-wraper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
@media only screen and (min-device-width: 960px) and (min-width: 960px) {
  .body-wraper {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
  }
}
.left-column {
  padding: 0 20px 0 20px;
}
@media only screen and (min-device-width: 960px) and (min-width: 960px) {
  .left-column {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 380px;
    margin: 0 10px;
  }
}
.right-column {
  padding: 0 20px 0 20px;
}
@media only screen and (min-device-width: 960px) and (min-width: 960px) {
  .right-column {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 460px;
    margin: 0 10px;
  }
}
header {
  font-size: 25pt;
  text-align: center;
  padding-bottom: 25px;
}
header .head_text {
  line-height: 0;
  text-transform: uppercase;
  font-size: 140%;
}
header img.avatar {
  position: relative;
  background-color: #fff;
  border: 1px solid #3d6cb0;
  padding: 10px;
  border-radius: 50%;
  max-width: 50%;
}
header h1.head_name {
  font-weight: 300;
  padding-top: 20px;
  line-height: 65px;
}
header h2.head_surname {
  padding-top: 10px;
  font-family: MyriadProBold;
  line-height: 10px;
}
header p.job {
  text-transform: uppercase;
  font-size: 70%;
  font-family: MyriadProBold;
  padding-top: 8px;
  line-height: 60px;
}
.box {
  background-color: #fff;
  padding-top: 20px;
}
.box .box-header {
  position: relative;
  margin-bottom: 18px;
}
.box .box-header:before,
.box .box-header:after {
  content: " ";
  display: table;
}
.box .box-header:after {
  clear: both;
}
.box .box-header-line {
  position: absolute;
  top: 50%;
  width: 100%;
  border-bottom: 5px solid #3d6cb0;
  margin-top: -5px;
}
.box .box-header-icon {
  position: relative;
  display: inline-block;
  float: left;
  background-color: #fff;
  padding: 7px 10px 7px 0;
}
.box .box-header-icon .icon {
  padding: 2px;
  border: 1px solid #3d6cb0;
  border-radius: 50%;
  text-align: center;
}
.box .box-header-icon i {
  background-color: #3d6cb0;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
}
.box .box-header-text {
  position: relative;
  display: inline-block;
  float: left;
  background-color: #fff;
  text-transform: uppercase;
  color: #3d6cb0;
  font-size: 110%;
  line-height: 80px;
  font-family: MyriadProBold;
  padding-right: 10px;
}
.box .box-content p.little {
  font-size: 45%;
}
.box h4 {
  color: #3d6cb0;
  text-transform: uppercase;
  font-size: 55%;
  line-height: 45px;
  font-family: MyriadProBold;
}
.box .contacts:before,
.box .contacts:after {
  content: " ";
  display: table;
}
.box .contacts:after {
  clear: both;
}
.box .contact-name {
  float: left;
}
.box .contact-content {
  float: left;
  display: inline-block;
  padding-left: 20px;
}
.box .contact-content p {
  font-size: 50%;
  line-height: 45px;
}
.box .skills {
  text-align: center;
}
.box .skills h5 {
  text-transform: uppercase;
  font-size: 70%;
}
.box .skills ul.skill-points {
  display: inline-block;
  margin-top: 15px;
}
.box .skills ul.skill-points li {
  height: 13px;
  width: 13px;
  background-color: #fff;
  border-radius: 50%;
  float: left;
  display: inline-block;
  border: 1px solid #3d6cb0;
  margin: 0 4px 0 4px;
}
.box .skills ul.skill-points .skill-point {
  background-color: #3d6cb0;
}
.box .skill-item-box {
  margin-bottom: 30px;
}
.box ul.points {
  list-style: none;
}
.box ul.points:before,
.box ul.points:after {
  content: " ";
  display: table;
}
.box ul.points:after {
  clear: both;
}
.box ul.points li {
  margin-bottom: 20px;
}
.box ul.points li h5 {
  padding: 0 0 0 40px;
  text-transform: uppercase;
  font-family: MyriadProBold;
  font-size: 70%;
}
.box ul.points .educat-date {
  text-transform: none;
  font-family: MyriadProRegular;
  color: #000;
  padding-left: 15px;
}
.box ul.points .university-name {
  font-weight: 300;
  font-size: 70%;
  padding: 0 0 0 40px;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 8px;
}
.box ul.points .university-desc {
  font-weight: 100;
  font-size: 42%;
  padding: 0 0 0 40px;
}
.box ul.points li:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: '\f111';
  position: absolute;
  font-size: 70%;
}
.box .educat-h5 {
  color: #3d6cb0;
}
.box .sowtware-wraper {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.box .sowtware-wraper li {
  padding-bottom: 20px;
}
.box .sowtware-wraper h6 {
  font-weight: 100;
  font-size: 75%;
  text-transform: uppercase;
}
.box .progress-container {
  margin-top: 12px;
  background-color: #e6e6e6;
  width: 100%;
  height: 18px;
}
.box .progress-bar {
  background-color: #3d6cb0;
  height: 18px;
}
