//- Mixins

mixin box-header(icon, text)
	.box-header
		.box-header-line
		.box-header-icon
			.icon
				i.fa(class='fa-'+icon)
		.box-header-text
			h3= text

mixin skill-points(name, n)
	.skill-item-box
		h5.skill-item-name= name
		ul.skill-points
			- for(var count = 0; count < 12; count++)
				- if(count<n)
					li.skill-point
				- else
					li

mixin progress-bar(name, n)
	li
		h6= name
		.progress-container
			.progress-bar(style='width:'+n+'%;')

html(lang='en')
	head
		title Resume
		link(rel='stylesheet' href='./main.css')
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css")
	body
		.body-wraper
			.left-column
				header
					img.avatar(src='./img/lacan.jpg')
					h1.head_name.head_text Jacques Marie
					h2.head_surname.head_text Émile Lacan
					p.job Psychoanalyst

				//- Profile
				.box
					+box-header('user', 'Profile')
					.box-content
						p.little Psychoanalyst and psychiatrist who has been called "the most controversial psycho-analyst since Freud". Giving yearly seminars in Paris from 1953 to 1981, I influenced many leading French intellectuals in the 1960s and the 1970s, especially those associated with post-structuralism. My ideas had a significant impact on post-structuralism, critical theory, linguistics, 20th-century French philosophy, film theory and clinical psychoanalysis.

				//- Contact
				.box
					+box-header('phone', 'Contact')
					.box-content
						pairlist.contacts
							pair
								key Address
								value Paris, France
							pair
								key Phone
								value 8-800-555-3535
							pair
								key E-mail
								value lacan.jac@postmodernism.com
							pair
								key Website
								value lacan.com
				//- Skills
				.box
					+box-header('lightbulb-o', 'Skills')
					.box-content
						.skills
							+skill-points('Deconstructivism',5)
							+skill-points('Post-structuralism',9)
							+skill-points('Clinical psychoanalysis',12)

			.right-column
				//- Edication
				.box
					+box-header('star', 'Education')
					.box-content
						ul.points
							li
								h5.educat-h5  School
									span.educat-date // Sep 1907 - Aug 1918
								p.university-name Collège Stanislas
								p.university-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
							li
								h5.educat-h5  Master degree
									span.educat-date // Sep 1928 - Aug 1932
								p.university-name Saint Anne's Clinique de Maladies Mentales et de l'Encéphale
								p.university-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

				//- Experience
				.box
					+box-header('briefcase', 'Experience')
					.box-content
						ul.points
							li
								h5  French army
									span.educat-date // 1940s
								p.university-name Lorem ipsum
								p.university-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
							li
								h5  Private seminar
									span.educat-date // Jun 1951 - Jun 1953
								p.university-name Lorem ipsum
								p.university-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

				//- Software
				.box
					+box-header('desktop', 'Software')
					.box-content
						.sowtware-wraper
							ul
								+progress-bar('Mirror phase', 45)
								+progress-bar('The Symbolic', 69)
								+progress-bar('The Imaginary', 36)
								+progress-bar('Freudism', 97)

