html(lang='en')
	head
		title Resume
		link(rel='stylesheet' href='./main.css')
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css")
		link()
	body
		.body-wraper
			.left-column
				header
					img.avatar(src='./img/lacan.jpg')
					h1.head_name.head_text Jacques Marie
					h2.head_surname.head_text Émile Lacan
					p.job Psychoanalyst

				//- Profile
				.box
					.box-header
						.box-header-line
						.box-header-icon
							.icon
								i.fa.fa-user
						.box-header-text
							h3 Profile
					.box-content
						p.little Psychoanalyst and psychiatrist who has been called "the most controversial psycho-analyst since Freud". Giving yearly seminars in Paris from 1953 to 1981, I influenced many leading French intellectuals in the 1960s and the 1970s, especially those associated with post-structuralism. My ideas had a significant impact on post-structuralism, critical theory, linguistics, 20th-century French philosophy, film theory and clinical psychoanalysis.

				//- Contact
				.box
					.box-header
						.box-header-line
						.box-header-icon
							.icon
								i.fa.fa-phone
						.box-header-text
							h3 Contact
					.box-content
						.contacts
							.contact-name
								h4 Adress
								h4 E-mail
								h4 Phone
								h4 Website
							.contact-content
								p Paris, France
								p lacan.jac@deconstructivism.com
								p 8-800-555-3535
								p lacan.com
				//- Skills
				.box
					.box-header
						.box-header-line
						.box-header-icon
							.icon
								i.fa.fa-lightbulb-o
						.box-header-text
							h3 Skills
					.box-content
						.skills
							.skill-item-box
								h5.skill-item-name Deconstructivism
								ul.skill-points
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li
									li
									li
									li
							.skill-item-box
								h5.skill-item-name Post-structuralism
								ul.skill-points
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li
							.skill-item-box
								h5.skill-item-name Clinical psychoanalysis
								ul.skill-points
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li.skill-point
									li

			.right-column
				//- Edication
				.box
					.box-header


						.box-header-line
						.box-header-icon
							.icon
								i.fa.fa-star
						.box-header-text
							h3 Education
					.box-content
						ul.points
							li
								h5.educat-h5  School
									span.educat-date // Sep 1907 - Aug 1918
								p.university-name Collège Stanislas
								p.university-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
							li
								h5.educat-h5  Master degree
									span.educat-date // Sep 1928 - Aug 1932
								p.university-name Saint Anne's Clinique de Maladies Mentales et de l'Encéphale
								p.university-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

				//- Experience
				.box
					.box-header
						.box-header-line
						.box-header-icon
							.icon
								i.fa.fa-briefcase
						.box-header-text
							h3 Experience
					.box-content
						ul.points
							li
								h5  French army
									span.educat-date // 1940s
								p.university-name Lorem ipsum
								p.university-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
							li
								h5  Private seminar
									span.educat-date // Jun 1951 - Jun 1953
								p.university-name Lorem ipsum
								p.university-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

				//- Software
				.box
					.box-header


						.box-header-line
						.box-header-icon
							.icon
								i.fa.fa-desktop
						.box-header-text
							h3 Software
					.box-content
						.sowtware-wraper
							ul
								li
									h6 Mirror phase
									.progress-container
										.progress-bar(style='width:45%;')
								li
									h6 The Symbolic
									.progress-container
										.progress-bar(style='width:45%;')
								li
									h6 The Imaginary
									.progress-container
										.progress-bar(style='width:23%;')
								li
									h6 Freudism
									.progress-container
										.progress-bar(style='width:99%;')

