@import 'kouto-swiss'
meyer-reset()
BLUE = #3d6cb0

html
	overflow-y scroll

body
	margin-top 35px
	font-family: Myriad Pro
	font-size 25pt
	height 100%
.body-wraper
	gs()
.left-column
	col(5)

header
	font-size 25pt
	text-align center
	padding-bottom 25px
	.head_text
		line-height: 0
		text-transform uppercase
		font-size 140%

	img.avatar
		position relative
		background-color: #FFF
		border	1px solid BLUE
		padding 10px
		border-radius 50%
		max-width 50%
		
	h1.head_name
		font-weight 300
		padding-top: 20px
		line-height 65px
	h2.head_surname
		padding-top: 10px
		font-weight bold
		line-height: 10px
	p.job
		text-transform uppercase
		font-size 70%
		font-weight bold
		line-height 0
		padding-top 8px
		line-height: 60px
		
.box
	background-color white
	padding-top 20px
	.box-header
		position relative
		clearfix()
	.box-header-line
		position absolute
		top 50%
		width 100%
		border-bottom 5px solid BLUE
		margin-top -5px
	.box-header-icon
		position relative
		display inline-block
		float left
		background-color white
		padding: 7px 10px 7px 0
		.icon
			padding 2px
			border 1px solid BLUE
			border-radius 50%
			text-align: center
		i
			background-color BLUE
			width 60px
			line-height 60px
			border-radius 50%
			color white
	.box-header-text
		position relative
		display inline-block
		float left
		background-color white
		text-transform uppercase
		color BLUE
		font-size 110%
		line-height 80px
		font-weight bold
		padding-right 10px
	.box-content
		padding-top 5px
		p.little
			font-size 45%

	h4
		color BLUE
		text-transform uppercase
		font-size 55%
		line-height: 45px
	.contacts
		clearfix()
	.contact-name
		float left
	.contact-content
		float left
		display inline-block
		padding-left 20px
		p
			font-size 50%
			line-height: 45px

	

			