@import 'kouto-swiss'

meyer-reset()

BLUE = #3d6cb0

BIG_SCREEN = only screen, min-device-width 1366px, min-width 1366px
DESCTOP_SCREEN = only screen, min-device-width 960px, min-width 960px

@font-face {
    font-family: "MyriadProRegular";
    src: url("./fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("./fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("./fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("./fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProBold";
    src: url("./fonts/MyriadProBold/MyriadProBold.eot");
    src: url("./fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("./fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("./fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProSemiBold";
    src: url("./fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("./fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("./fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("./fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html
	overflow-y scroll

body
	margin-top 35px
	font-family MyriadProRegular
	font-size 25pt
	height 100%
.body-wraper
	gs('fluid', 12, 9%)
	clearfix()
	+media-query(DESCTOP_SCREEN)
		gs('fluid')
	// +media-query(BIG_SCREEN)
	// 	gs()
.left-column
	padding 0 20px 0 20px
	+media-query(DESCTOP_SCREEN)
		col(5)
	// +media-query(BIG_SCREEN)
	// 	col(5)
		
.right-column
	padding 0 20px 0 20px
	+media-query(DESCTOP_SCREEN)
		col(6)
	// +media-query(BIG_SCREEN)
	// 	col(7)

header
	font-size 25pt
	text-align center
	padding-bottom 55px
	.head_text
		text-transform uppercase
		font-size 140%

	img.avatar
		position relative
		background-color: #FFF
		border	1px solid BLUE
		padding 10px
		border-radius 50%
		max-width 210px
		
	h1.head_name
		font-weight 300
		padding-top: 38px
	h2.head_surname
		font-family MyriadProBold
		font-size 170%
	p.job
		text-transform uppercase
		font-size 70%
		font-family MyriadProBold
		padding-top 10px
		
.box
	background-color white
	padding-top 20px
	.box-header
		position relative
		margin-bottom 5px
		clearfix()
	.box-header-line
		position absolute
		top 50%
		width 100%
		border-bottom 5px solid BLUE
		margin-top -5px
	.box-header-icon
		position relative
		display inline-block
		float left
		background-color white
		padding: 7px 10px 7px 0
		.icon
			padding 2px
			border 1px solid BLUE
			border-radius 50%
			text-align: center
		i
			background-color BLUE
			width 60px
			line-height 60px
			border-radius 50%
			color white
	.box-header-text
		position relative
		display inline-block
		float left
		background-color white
		text-transform uppercase
		color BLUE
		font-size 110%
		line-height 80px
		font-family MyriadProBold
		padding-right 10px
	.box-content
		p.little
			font-size 45%

	.contacts
		display block
		margin-top 32px
		pair
			display inline-block
			padding-bottom 37px
			width 100%
			clearfix()
		key
			min-width 120px
			font-size 55%
			float left
			font-family MyriadProBold
			color BLUE
			text-transform uppercase
		value
			float left
			font-size 55%
	
	.skills
		text-align center
		display block
		padding-top 18px
		h5
			text-transform uppercase
			font-size 70%
		ul.skill-points
			display: inline-block
			margin-top 12px
			li
				height 13px
				width 13px
				background-color white
				border-radius 50%
				float left
				display: inline-block
				border 1px solid BLUE
				margin 0 4px 0 4px
			.skill-point
				background-color BLUE
	.skill-item-box
		margin-bottom 27px
		
	ul.points
		list-style none
		margin-top 27px
		clearfix()
		li
			margin-bottom: 20px
			padding-left 50px
			h5
				text-transform uppercase
				font-family MyriadProBold
				font-size 70%
		.educat-date
			text-transform none
			font-family MyriadProRegular
			color black
			padding-left 15px
		.university-name
			font-weight: 300
			font-size 70%
			text-transform uppercase
			margin-top 8px
			margin-bottom 8px
		.university-desc
			font-weight: 100
			font-size 42%
		li:before
			font normal normal normal 14px/1 FontAwesome
			content '\f111'
			position: absolute
			font-size 70%
			margin-left -41px
	.educat-h5
		color BLUE
	
	.sowtware-wraper
		column-count 2
		padding-top 20px
		li
			padding-bottom 33px
		h6
			font-weight 100
			font-size 75%
			text-transform uppercase
	.progress-container
		margin-top 12px
		background-color #e6e6e6
		width 100%
		height 20px
	.progress-bar
		background-color BLUE
		height: 18px


			